header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
}
#contact {
}

#content-container {
  justify-content: stretch;
  width: 100%;

  display: flex;
}

#left-column {
  background-color: rgb(37, 126, 146);
  flex-grow: 1;
}
#right-column {
  background-color: rgb(255, 255, 255);
  flex-grow: 5;
}
